/*******************************************************************/
/******************  Стили для слайдера БАЗОВЫЕ  *******************/
/*******************************************************************/

/* Слайдер *БАЗА СТИЛЕЙ* */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
}

/* Слайд */
.slick-slide {
  outline: none !important; /* отключение обводки на слайде при клике */
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

/* Обертка слайдера */
.flex-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  height: 100%;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  height: 100%;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/*******************************************************************/
/**************** Стили для Галереи с одним окном ******************/
/*******************************************************************/
.wrapper-gallery-slider-3 {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.gallery-slider-3 {
  position: relative;
  padding: 0px 0px;
  height: 100%;
}

.gallery-slider-3 .slick-track {
  display: flex;
  height: 100%; /* Тут меняется высота картинки */
}

.gallery-slider-3 .gallery-slider__item {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

/* Картинки */
.gallery-slider-3 .gallery-slider__item img {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  margin: auto 0;
}

/* Точки (булиты) */
.gallery-slider-3 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Размер точек */
  position: absolute;
  bottom: 20px; /* Это значение двигает точки вверх вниз */
  left: 50%; /* Расположение точек по горизонтали */
  transform: translateX(-50%);
  margin: 0;
}
.gallery-slider-3 .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.gallery-slider-3 .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 5px;
  padding: 3px; /* Размер точек */
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

.gallery-slider-3 .slick-dots li.slick-active button {
  background-color: #fff;
}

/* Стили для Галереи с одним окном-END */
